<!DOCTYPE html>
html(lang="es")
	head
		meta(charset = "UTF-8")
		meta(name = "viewport", content ="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0")
		//-styles
		link(rel="stylesheet", href="css/bootstrap.css")
		link(rel="stylesheet", href="css/font-awesome.css")
		link(rel="stylesheet", href="css/main.css")
		title Contacto
	body
		include blocks/header
		#contact-us
			.container
				.row
					.col-lg-12.col-md-12.col-xs-12
						h3.title-page encuéntranos
				.row
					.col-lg-12.col-md-12.col-xs-12
						<iframe class="map-google-app" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.6191082091354!2d-76.93861984965412!3d-12.069707091410036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c6c34f1fe2c7%3A0xa091f19f413baad7!2sBanco+De+Credito!5e0!3m2!1ses-419!2spe!4v1471579267389" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				.row
					.col-lg-4.col-md-4.col-xs-12
						p 8901 Marmora Road, Glasgow, DD4 89GR
						dl
							dt
							dd <span> Freephone: </span> +1 800 559 6580
							dd <span> Freephone: </span> +1 800 559 6580
							dd <span> Freephone: </span> +1 800 559 6580
							dd <span> Freephone: </span> +1 800 559 6580
				.row
					.col-lg-12.col-md-12.col-xs-12
						h3.title-page encuéntranos
				.row
					.col-lg-5.col-md-5.col-xs-12
						input(type="text" name="btn-name" placeholder="Nombre") 
						input(type="text" name="btn-email" placeholder="E-mail") 
						input(type="text" name="btn-phone" placeholder="Teléfono") 
					.col-lg-7.col-md-7.col-xs-12
						textarea(placeholder="Mensaje" )
						a(class="link" href="#") leer más
		include blocks/footer
		//-scripts
		script(type="text/javascript" src="js/jquery.min.js")
		script(type="text/javascript" src="js/bootstrap.min.js")
		script(type="text/javascript" src="js/main.js")

