<!DOCTYPE html>
html(lang="es")
	head
		meta(charset = "UTF-8")
		meta(name = "viewport", content ="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0")
		//-styles
		link(rel="stylesheet", href="css/bootstrap.css")
		link(rel="stylesheet", href="css/owl.carousel.css")
		link(rel="stylesheet", href="css/font-awesome.css")
		link(rel="stylesheet", href="css/main.css")
		title About
	body
		header
			.bck-white
				.container
					.row
						.col-lg-4.col-md-4.col-xs-6.width
							h1
								a(href="index.html")
									img(src="images/calida.png" alt="PML")
						.col-lg-4.col-lg-offset-4.col-md-4.col-md-offset-4.col-xs-6.width
							.tel
								.phone
									<i class="fa fa-phone"></i> +51 985 040 424
								span &nbsp;
								a(href="#")
									<i class="fa fa-envelope-o"></i> mail@demolink.org
							ul.socials
								li
									a(href="#")
										i(class="fa fa-google-plus")
								li
									a(href="#")
										i(class="fa fa-twitter")
								li
									a(href="#")
										i(class="fa fa-facebook")
								li
									a(href="#")
										i(class="fa fa-linkedin")
								li
									a(href="#")
										i(class="fa fa-pinterest")
			.bck-gray
				.container
					.row
						.col-lg-9.col-md-9.col-xs-12
							nav(class="navbar navbar-default")
								.navbar-header
									button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
										span(class="sr-only") Toggle navigation
										span(class="icon-bar")
										span(class="icon-bar")
										span(class="icon-bar")
								.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
									ul(class="nav navbar-nav navbar-left")
										li
											a(href="index.html" class="active") Acerca de PML
										li
											a(href="services.html") Servicios
										li
											a(href="projects.html") Proyectos
										li
											a(href="contact.html" ) Contacto
		include blocks/view1									
		footer.bck-black
			.container
				.row
					.col-lg-8.col-md-6.col-xs-6
						ul.bottom-main
							li
								a(href="index.html" class="active") acerca de
							li 
								a(href="services.html") servicios
							li
								a(href="projects.html") proyectos
							li
								a(href="contact.html" ) contacto
					.col-lg-4.col-md-6.col-xs-6
						ul.social-links
							li
								a(href="#") <i class="fa fa-facebook"></i>
							li
								a(href="#") <i class="fa fa-twitter"></i>
							li
								a(href="#") <i class="fa fa-google-plus"></i>
							li
								a(href="#") <i class="fa fa-linkedin"></i>
							li
								a(href="#") <i class="fa fa-envelope"></i>												
		//-scripts
		script(type="text/javascript" src="js/jquery.min.js")
		script(type="text/javascript" src="js/bootstrap.min.js")
		script(type="text/javascript" src="js/owl.carousel.js")
		script(type="text/javascript" src="js/main.js")

