footer{
	padding: 38px 0 36px;
}
.bottom-main{
	li{
		display: inline-block;
		margin-right: 8px;
		font-size: 14px;
		padding-top: 3px;
		a{
			text-transform: uppercase;
			font-size: 14px;
			color:#d7d7d7;
			&:hover{
				color:$azul;
				@include crossBrowser(transition, all .4s aese);
			}
		}
		a.active{
			color:$azul;

		}
	}
}
.social-links{
	li{
		display: inline-block;
		width:25px;//30px
		height: 25px;//30px
		font-size: 16px;
    	line-height: 25px;//28px
		margin-right: 2px;//10px
		text-align: center;
		border-radius: 100%;
    	&:first-child{
    		background-color: #3A5A9F;
    	}
    	&:nth-child(2){
    		background-color: #45B0E3;    		
    	}
    	&:nth-child(3){
    		background-color: #D61119;    		
    	}
    	&:nth-child(4){
    		background-color: #1783BC;    		
    	}
    	&:last-child{
    		background-color: #75796F;    		
    	}
		a{
			display: block;
			color:white;
			width: 100%;
			height: 100%;
			&:hover{
    			color: #fff;
    			i{
    				font-size:10px;
    				@include crossBrowser(transition, all .3s aese )
    			}
			}

		}
	}
}