#projects{
	padding:3% 0%;
	color:black;

	.thumb-descrip {
		position: relative;
	    overflow: hidden;
	    margin: 24px 0 3px;
	    color: #646262;
	    font-size: 14px;
	    line-height: 21px;
		time {
		    display: block;
		    color: #124284;
		    margin-bottom: 9px;
		}
		 p {
		    line-height: 21px;
		    letter-spacing: -.1px;
		}
	}
}
.projects-item{
	max-width:350px;
}
#projects-principal{
	background-color:$azul_dark;
	font-size:15px;
	color:white;
    line-height: 23px;
}
.title-page {
	color:black;
    font-size: 24px;
    line-height: 33px;
    font-weight: bold;
    margin-bottom: 39px;
    text-transform: uppercase;
}
.link1{
	font-weight: 900;
	font-size:18px;
}
a.various {
    text-decoration: none;
    cursor: pointer;
    margin-left: -3px;
    display: inline-block;
    border: 5px solid #fff;
    opacity: 1;
    &:hover{
    	opacity: .85;

    }
 
}
.verwidth,.thumb2{
	max-width:500px;
	margin:15px auto;
}