footer.bck-black
	.container
		.row
			.col-lg-8.col-md-6.col-xs-6
				ul.bottom-main
					li
						a(href="index.html") acerca de
					li 
						a(href="services.html") servicios
					li
						a(href="projects.html") proyectos
					li
						a(href="contact.html" class="active") contacto
			.col-lg-4.col-md-6.col-xs-6
				ul.social-links
					li
						a(href="#") <i class="fa fa-facebook"></i>
					li
						a(href="#") <i class="fa fa-twitter"></i>
					li
						a(href="#") <i class="fa fa-google-plus"></i>
					li
						a(href="#") <i class="fa fa-linkedin"></i>
					li
						a(href="#") <i class="fa fa-envelope"></i>


