section#projects
	.container
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				h3.title-page latest projects
		.row
			.col-lg-4.col-md-4.col-sm-4.col-xs-12
				.projects-item
					.thumb1
						img.img-responsive(src="images/page4_img1.jpg")
						div
							a(href="#") Quisque nulla Vestibulum
					.thumb-descrip
						time(datetime="2014-07-25") July 18, 2014
						p 	Marquee ctus non prio incongruous feline nolo contendre Olypian rels et gongolium sic ad nauseum. Souvlaki ignitus carborundue pluribus unum.
			.col-lg-4.col-md-4.col-sm-4.col-xs-12
				.projects-item
					.thumb1
						img.img-responsive(src="images/page4_img1.jpg")
						div
							a(href="#") Quisque nulla Vestibulum
					.thumb-descrip
						time(datetime="2014-07-25") July 18, 2014
						p 	Marquee ctus non prio incongruous feline nolo contendre Olypian rels et gongolium sic ad nauseum. Souvlaki ignitus carborundue pluribus unum.
			.col-lg-4.col-md-4.col-sm-4.col-xs-12
				.projects-item
					.thumb1
						img.img-responsive(src="images/page4_img1.jpg")
						div
							a(href="#") Quisque nulla Vestibulum
					.thumb-descrip
						time(datetime="2014-07-25") July 18, 2014
						p 	Marquee ctus non prio incongruous feline nolo contendre Olypian rels et gongolium sic ad nauseum. Souvlaki ignitus carborundue pluribus unum.
section#projects-principal.p83
	.container
		.row
			.col-lg-6.col-md-6.col-sm-6.col-xs-12
				.verwidth
					a(class="various iframe" href="http://player.vimeo.com/video/37582125")
						img.img-responsive(src="images/page4_img4.jpg")
			.col-lg-6.col-md-6.col-sm-6.col-xs-12
				.thumb2
					h5 
						a.link1(href="#" ) Vivamis eget nibetiam cursus leo
					time(datetime="2014-07-25") July 25, 2014
					br
					br
					p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab ilventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.
					br
					p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab ilventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.