section#banner
	.container
		.row
			.col-lg-12.col-md-12.col-xs-12
				.message
					h2 Mensaje de la Empresa
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum optio magni, unde modi similique nulla tempora quas, architecto fugit mollitia autem quisquam nihil voluptate. Vel reiciendis eligendi animi, saepe eaque.
section#descrip.p95
	.container
		.row
			.col-lg-12.col-md-12.col-xs-12
				.intro
					h2 Descripción de la empresa
					h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat maiores perferendis harum, totam provident hic iste est suscipit nobis at animi fugit mollitia magni porro! Laudantium ipsam quam ipsum commodi!
					div
						a(href="#" class="link") leer más
section#newprojects
	.container.p83
		.row
			.col-lg-12.col-md-12.col-xs-12.text-center
				h2 Proyectos Recientes
				#owl-1.owl-carousel
					.item
						.thumb1
							img(src="images/page1_img1.jpg" alt="")
							div
								a(href="#") Quisque nulla Vestibulum
					.item
						.thumb1
							img(src="images/page1_img2.jpg" alt="")
							div
								a(href="#") Quisque nulla Vestibulum
					.item
						.thumb1
							img(src="images/page1_img3.jpg" alt="")
							div
								a(href="#") Quisque nulla Vestibulum
					.item
						.thumb1
							img(src="images/page1_img1.jpg" alt="")
							div
								a(href="#") Quisque nulla Vestibulum								
					.item
						.thumb1
							img(src="images/page1_img2.jpg" alt="")
							div
								a(href="#") Quisque nulla Vestibulum
					.item
						.thumb1
							img(src="images/page1_img3.jpg" alt="")
							div
								a(href="#") Quisque nulla Vestibulum
					.item
						.thumb1
							img(src="images/page1_img1.jpg" alt="")
							div
								a(href="#") Quisque nulla Vestibulum
					.item
						.thumb1
							img(src="images/page1_img2.jpg" alt="")
							div
								a(href="#") Quisque nulla Vestibulum								
					.item
						.thumb1
							img(src="images/page1_img3.jpg" alt="")
							div
								a(href="#") Quisque nulla Vestibulum
					.item
						.thumb1
							img(src="images/page1_img1.jpg" alt="")
							div
								a(href="#") Quisque nulla Vestibulum
					.item
						.thumb1
							img(src="images/page1_img2.jpg" alt="")
							div
								a(href="#") Quisque nulla Vestibulum
					.item
						.thumb1
							img(src="images/page1_img3.jpg" alt="")
							div
								a(href="#") Quisque nulla Vestibulum			
section#base.p100
	.container
		.row
			.col-lg-4.col-md-4.col-xs-4.width768
				.thumb
					.circle
						img(src="images/page1_ico1.png" alt="")
					h5 vestibulum libero
					p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab ilventore veritatis et quasi architecto beatae vitae dicta sunt.
					a(href="#" class="link1") lear more
			.col-lg-4.col-md-4.col-xs-4.width768
				.thumb
					.circle
						img(src="images/page1_ico2.png" alt="")
					h5 vestibulum libero
					p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab ilventore veritatis et quasi architecto beatae vitae dicta sunt.
					a(href="#" class="link1") lear more
			.col-lg-4.col-md-4.col-xs-4.width768
				.thumb
					.circle
						img(src="images/page1_ico3.png" alt="")
					h5 vestibulum libero
					p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab ilventore veritatis et quasi architecto beatae vitae dicta sunt.
					a(href="#" class="link1") lear more
.bck-white.text-center
	img(src="images/calida.png")
