section#services
	.container
		.row
			.col-lg-12.col-md-12.col-xs-12
				h3.title-page services otherwise
		.row
			.col-lg-3.col-md-3.col-xs-12
				.services-item
					.thumb1
						img.img-responsive(src="images/page4_img1.jpg")
						a.link1(href="#") maintenance and general services
						p Quote meon an estimate et non interruptus stadium. Sic tempus fugit esperanto hiccup estrogen. Glolava ex librus hup hey ad infinitum. Non sequitur condominium facile et geranium incognito. 
						ul.list
							li
								a(href="#") <i class="fa fa-check"></i> Vestibulum iaculis
							li
								a(href="#") <i class="fa fa-check"></i> Vestibulum iaculis
							li
								a(href="#") <i class="fa fa-check"></i> Vestibulum iaculis
							li
								a(href="#") <i class="fa fa-check"></i> Vestibulum iaculis
			.col-lg-3.col-md-3.col-xs-12
				.services-item
					.thumb1
						img.img-responsive(src="images/page4_img1.jpg")
						a.link1(href="#") maintenance and general services
						p Quote meon an estimate et non interruptus stadium. Sic tempus fugit esperanto hiccup estrogen. Glolava ex librus hup hey ad infinitum. Non sequitur condominium facile et geranium incognito. 
						ul.list
							li
								a(href="#") <i class="fa fa-check"></i> Vestibulum iaculis
							li
								a(href="#") <i class="fa fa-check"></i> Vestibulum iaculis
							li
								a(href="#") <i class="fa fa-check"></i> Vestibulum iaculis
							li
								a(href="#") <i class="fa fa-check"></i> Vestibulum iaculis
			.col-lg-3.col-md-3.col-xs-12
				.services-item
					.thumb1
						img.img-responsive(src="images/page4_img1.jpg")
						a.link1(href="#") maintenance and general services
						p Quote meon an estimate et non interruptus stadium. Sic tempus fugit esperanto hiccup estrogen. Glolava ex librus hup hey ad infinitum. Non sequitur condominium facile et geranium incognito. 
						ul.list
							li
								a(href="#") <i class="fa fa-check"></i> Vestibulum iaculis
							li
								a(href="#") <i class="fa fa-check"></i> Vestibulum iaculis
							li
								a(href="#") <i class="fa fa-check"></i> Vestibulum iaculis
							li
								a(href="#") <i class="fa fa-check"></i> Vestibulum iaculis
			.col-lg-3.col-md-3.col-xs-12
				.services-item
					.thumb1
						img.img-responsive(src="images/page4_img1.jpg")
						a.link1(href="#") maintenance and general services
						p Quote meon an estimate et non interruptus stadium. Sic tempus fugit esperanto hiccup estrogen. Glolava ex librus hup hey ad infinitum. Non sequitur condominium facile et geranium incognito. 
						ul.list
							li
								a(href="#") <i class="fa fa-check"></i> Vestibulum iaculis
							li
								a(href="#") <i class="fa fa-check"></i> Vestibulum iaculis
							li
								a(href="#") <i class="fa fa-check"></i> Vestibulum iaculis
							li
								a(href="#") <i class="fa fa-check"></i> Vestibulum iaculis
section#services-numeral.bck-blue.p100
	.container
		.row
			.col-lg-1.col-md-1.col-xs-2
				.circle1 1.
			.col-lg-3.col-md-3.col-xs-10
				.serv-num-item
					h5 
						a.link1(href="#") scelerique eget malesuada
					p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem laudantium, totam rem aperiam, eaque ipsa quae ab ilventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut.
			.col-lg-1.col-md-1.col-xs-2
				.circle1 2.
			.col-lg-3.col-md-3.col-xs-10
				.serv-num-item
					h5 
						a.link1(href="#") scelerique eget malesuada
					p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem laudantium, totam rem aperiam, eaque ipsa quae ab ilventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut.
			.col-lg-1.col-md-1.col-xs-2
				.circle1 3.
			.col-lg-3.col-md-3.col-xs-10
				.serv-num-item
					h5 
						a.link1(href="#") scelerique eget malesuada
					p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem laudantium, totam rem aperiam, eaque ipsa quae ab ilventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut.
section#services-aditional.bck-white.p95
	.container
		.row
			.col-lg-12.col-md-12.col-xs-12
				h3.title-page additional services
		.row
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-xs-12
						img.img-responsive(src="images/page2_img5.jpg")
					.col-lg-6.col-md-6.col-xs-12
						p Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.
						a.link(href="#") learn more
			.col-lg-6.col-md-6.col-xs-12
				.row
					.col-lg-6.col-md-6.col-xs-12
						img.img-responsive(src="images/page2_img5.jpg")
					.col-lg-6.col-md-6.col-xs-12
						p Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.
						a.link(href="#") learn more

